.card {
    max-height: 275px;
    overflow: hidden;
    max-width: 250px; 
    flex: 0 1 calc(25% - 1em);
    margin-bottom: 1%;
    border: 3px outset rgb(245, 199, 149);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



@media screen and (max-width: 599px) {

    .card {
        max-width: 110px;
        max-height: 100px;
        flex: 0 1 calc(50% - 1em);
    
    }
    
}  

@media screen and (max-width: 899px) {
    .card {
        max-width: 100px;
        max-height: 80px;
        flex: 0 1 calc(25% - 1em);
    
    }

}

@media screen and (max-width: 1199px) {
    .card {
        max-width: 170px;
        max-height: 170px;
        flex: 0 1 calc(25% - 1em);
    
    }

}

@media screen and (max-width: 1799px) {
    .card {
        max-width: 180px;
        max-height: 200px;
        flex: 0 1 calc(25% - 1em);
    
    }
}

/* @media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
} */
  