  main,
  footer {
    font-family: 'Pirata One', cursive;  
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("./images/Mordor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
    background-color:rgb(115,30,22);
  }



      

